@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
* {
  --accent-color: hsl(215, 100%, 45%);
  --border-color: hsl(0, 0%, 88%);
  --border: 1px solid var(--border-color);
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

* :focus {
  outline: var(--border);
}

.App {
  padding: 24px;
}

section {
  padding: 12px;
}

.code-container {
  border: var(--border) !important;
}

.code-container :focus {
  border: var(--border) !important;
}

.code-container.code-preview {
  background: #f2f2f2 !important;
  padding: 0.5rem 1rem;
  pointer-events: all !important;
}
